/* You can add global styles to this file, and also import other style files */

body
{
    background-color: rgb(156, 195, 235)
}

headerh1 {
    color: white;
}

.header {
    border-radius: 25px;
    border: 2px solid dodgerblue;
    background: dodgerblue;
    padding: 20px;
    height: 85px;
  }

.contenth1 {
    color: rgb(64, 29, 2);
}

.content {
    border-radius: 25px;
    border: 2px solid dodgerblue;
    background: rgb(178, 201, 224);
    padding: 20px;
    height: 300px;
    margin-top: 20px;
  }